
application.version: @project.version@
spring.output.ansi.enabled: ALWAYS
spring.web.resources.static-locations: file:resource-discovery/management/src/main/resources/static/freebees_webdesign_6, classpath:/static/freebees_webdesign_6/

#security.ignored: /**
#security.basic.enable: false
#spring.autoconfigure.exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

#spring.security.user.name: user
#spring.security.user.password: user
#spring.security.user.roles: USER

server.servlet.session.timeout: 120m

spring.data.mongodb.uri: mongodb://root:example@localhost:27017/admin
spring.data.mongodb.database: resource_discovery
  


discovery:
  brokerURL: "tcp://nebulous-monitoring:61616?daemon=true&trace=false&useInactivityMonitor=false&connectionTimeout=0&keepAlive=true"
  brokerUsername: "aaa"
  brokerPassword: "111"

  nebulousBrokerIpAddress: "nebulous-activemq"
  nebulousBrokerPort: 5672
  nebulousBrokerUsername: "admin"
  nebulousBrokerPassword: "admin"
  deregistrationEmulated: false
  lostDeviceTopic: "eu.nebulouscloud.monitoring.device_lost"
  compromisedDeviceTopic: "eu.nebulouscloud.monitoring.device_compromised"
  nebulousServerIpAddress: ${NEBULOUS_SERVER_IP_ADDRESS}

  sal_host: "localhost"
  sal_port: 8080
#  trustStoreFile: tests/config/broker-truststore.p12
#  trustStorePassword: melodic
#  trustStoreType: PKCS12
  allowedDeviceInfoKeys:
    - '*'
  # NOTE:
  # To generate BCrypt encrypted passwords you can use:  https://bcrypt-generator.com/
  users:
    - username: admin
      password: ${RM_ADMIN_PASSWD}
      roles: [ ADMIN ]
    - username: user
      password: ${RM_USER_PASSWD}
      roles: [ USER ]

#  apiKeyAuthenticationEnabled: true
#  apiKeyValue: 1234567890

#logging.level.eu.nebulous.resource.discovery.registration.RegistrationRequestProcessor: TRACE
logging.level.eu.nebulous.resource: DEBUG
management.endpoints.web.exposure.include: '*'